div{

border: solid 2px black;
padding: 20px;
height: 200px;
width: 200px;
}

#bleuvertrouge{

    background-image: linear-gradient(to right top, red, green, blue );
}

#violetjaune{

    background-image: linear-gradient(110deg, purple 75%, yellow);
}

#texte{
    background-image: linear-gradient(to bottom, rgba(255,255,255,10), rgba(0,0,0,10));
} 

#radialbleu{
    background-image: radial-gradient(circle at center, rgb(0, 166, 255) 0.42, rgb(247, 167, 180));

}

#radialnoir{
    background-image: repeating-radial-gradient(circle at center, black 0, white 10px);

}
#radialnoir:hover{
    background-image: repeating-radial-gradient(circle at center, white 0, black 10px);

}